body {
    background: #b9dff1;
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
}

.navbar {
    background: #1e3d58;
    padding: 12px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

table {
    margin: auto; /* center the table */
    border-collapse: collapse;
    width: 90%;
    max-width: 1100px; 
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    background: #4a90e2;
    color: white;
}

th, td {
    padding: 18px 20px;
    border-bottom: 1px solid #ddd;
    border: 1px solid #b5cbe3;
}

tbody tr:hover {
    background: #f1f1f1;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

td {
    color: #555;
    font-size: 15px;
}

tbody tr:last-child td {
    border-bottom: none;
}
.text-center{
    text-align: center;
    padding-top: 100px;
}

.course-img {
    width: 160px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid #ccc;
}