
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Learn Academy</title>
    <link rel="stylesheet" href="{% static 'css/trainer.css' %}">

</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'course' %}">Courses</a>
        <a href="{% url 'trainer' %}">Trainers</a>
        <a href="{% url 'student' %}">Students</a>
    </nav>
    <h2>Students - Tech Learn Academy</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Enrolled Course</th>
                <th>Trainer</th>
            </tr>
        </thead>

        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.full_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.is_active }}</td>
                    <td>{{ student.enrolled_course }}</td>
                    <td>{{ student.trainer }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>