
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Learn Academy</title>
    <link rel="stylesheet" href="{% static 'css/trainer.css' %}">

</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'course' %}">Courses</a>
        <a href="{% url 'trainer' %}">Trainers</a>
        <a href="#">Students</a>
    </nav>
    <h2>Trainers - Tech Learn Academy</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Expertise</th>
                <th>Trainer Photo</th>
            </tr>
        </thead>

        <tbody>
            {% for trainer in trainers %}
                <tr>
                    <td>{{ trainer.id }}</td>
                    <td>{{ trainer.full_name }}</td>
                    <td>{{ trainer.email }}</td>
                    <td>{{ trainer.expertise }}</td>
                    <td> <img src="{{ trainer.trainer_photo.url }}" class="course-img"></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
</body>
</html>